* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: #ffff;
    display: flex;
    align-items: center;
    padding: 30px 5%;
    border-bottom: 1px solid;
    color: rgb(138, 43, 226);
    box-shadow: 0 3.5px 7px rgba(90, 2, 90, 0.35); 
}


.navbar a {
    text-decoration: none;
    color: rgb(138, 43, 226);
}

.logo a:hover {
    color: rgb(195, 147, 241);
}

.logo h4 {
    font-size: 23px;
    font-weight: bold;
}

.logo span {
    font-size: 23px;
    font-weight: bold;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(170, 60, 60, 0.8);  
}

.logo span:hover {
    font-size: 21px;
    font-weight: bold;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(248, 86, 86, 0.8);  
}

.nav-items {
    margin-left: auto;
}

.nav-items .active {
    color: rgb(195, 147, 241);
    text-decoration: underline;
}

.nav-items ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-items li {
    margin-left: 30px;
    padding: 0px 12px 0px 12px;
}

.nav-items a {
    font-weight: 600;
}

.nav-items a:hover {
    color: rgb(195, 147, 241);
}

.button {
    margin-left: auto;
    display: flex;
}

.button #btn-login a {
    margin-right: 15px;
    font-weight: 600;
    border: 2px solid blueviolet;
    padding: 9px 25px 9px 25px;
    border-radius: 10px;
    background-color: #ffff;
    color: blueviolet;
    
}

.button #btn-login a:hover {
    background-color: #8a2be2;
    color: #ffff;
}

.button #btn-register a {
    font-weight: 600;
    border: 2px solid blueviolet;
    padding: 9px 25px 9px 25px;
    border-radius: 10px;
    background-color: blueviolet;
    color: #ffff;
}

.button #btn-register a:hover {
    background-color: rgb(79, 15, 139);
}

.section1 {
    padding: 7.6% 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;   
}

.text {
    width: 37%;
}

.text h1 {
    font-size: 40px;
    color: rgb(138, 43, 226);
}

.text p {
    margin: 14px 0;
    font-size: 21px;    
    color: rgb(45, 0, 86);
    width: 90%;
}

.text a {
    font-size: 18px;
    font-weight: 650;
    color: blueviolet;
}

.text a:hover {
    color: #c393f1;
}

.text i {
    font-size: 17px;
}

.section2 {
    background-color: #faefff;
    padding: 4% 0 0 0;
}

.section2 svg {
    margin-bottom: -25px;
}

.section2 h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(138, 43, 226);
}

.container {
    margin: 2% 5%;
    display: flex;
}

.column {
    flex: 1;
    margin: 10px;
    padding: 20px;
    text-align: center;
    border: 2px solid rgb(197, 148, 242);
    border-radius: 10px;
}

.column img {
    max-width: 100%;
    height: auto;
}

.column .col-text {
    margin: 20px 0px 20px 0px;
    padding: 15px;
    color: rgb(158, 77, 233);
}

.col-text h3 {
    margin-bottom: 5px;
    font-size: 23px;
}

.col-text p {
    font-size: 16.5px;
    color: rgb(45, 0, 86);
}

.section3 {
    padding: 1% 0 8% 0;
}

.section3 h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(138, 43, 226);
    margin-bottom: 45px;
}

.section3 p {
    color: rgb(45, 0, 86);
    font-size: 20px;
    width: 65%;
}

.review-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%; 
    width: 70%;
    margin: auto;
    border: 2px solid rgb(197, 148, 242);
    border-radius: 20ch;
}

.review-1 p {
    margin-right: 30px;
}

.review-1 img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.review-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%; 
    width: 70%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid rgb(197, 148, 242);
    border-radius: 20ch;
}

.review-2 p {
    margin-left: 65px;
}

.review-2 img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.footer {
    border-top: 1px solid #faefff;
    padding: 60px 0 60px 0;
    background-color: #faefff;
    
}

.header-footer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-bottom: 1px solid rgb(197, 148, 242);
}

.logo-footer {
    font-size: 27px;
    font-weight: bold;
    color: rgb(138, 43, 226);
    margin-bottom: 20px;
}

.logo-footer span {
    font-size: 27px;
    font-weight: bold;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(170, 60, 60, 0.8);  
}

.social-media ul {
    list-style: none;
    display: flex;
    margin-bottom: 20px;
}

.social-media li {
    margin-left: 15px;
    font-size: 28px;
}

.social-media a {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    padding: 25px;
    color: rgb(138, 43, 226); 
}

.social-media a:hover {
    background-color:  rgb(138, 43, 226); 
    color: #faefff;
}

.body-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    width: 80%;
    margin-left: 10%;
}

.links h4 {
    color: #8a2be2;
}

.links ul li {
    list-style: none;
    text-decoration: none;
    margin-top: 10px;
}

.links a {
    text-decoration: none;
    color: rgb(45, 0, 86);
}

.links a:hover {
    color: #aa69e7;
}
.contact h4 {
    color: #8a2be2;
}

.contact p {
    margin-top: 10px;
    color: rgb(45, 0, 86);
}

.location h4 {
    color: #782bc1;    
}
.location p {
    margin-top: 10px;
    color: rgb(45, 0, 86);
}

footer {
    text-align: center;
    align-items: center;
    padding: 20px;
    border-top: 1px solid rgb(197, 148, 242);
    background-color: #faefff;
}
footer p {
    font-weight: 500;
    color: #782bc1;
}









